@model Movie
@{
    ViewData["Title"] = "Edit";
}

<div class="container ">
    <div class="row m-4">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="row p-3">
                <h2 class="text-primary" style="color:darkcyan">Edit a Category</h2>
            </div>
            <div class="pb-3">
                <label asp-for="Id"></label>
                <input asp-for="Id" class="form-control" disabled />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="pb-3">
                <label asp-for="MovieName"></label>
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>


            <div class="pb-3">
                <label asp-for="TimeOfSelling"></label>
                <input asp-for="TimeOfSelling" class="form-control" />
                <span asp-validation-for="TimeOfSelling" class="text-danger"></span>
            </div>


            <div class="pb-3">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>


            <div class="pb-3">
                <label asp-for="NumbersOfCopies"></label>
                <input asp-for="NumbersOfCopies" class="form-control"/>
                <span asp-validation-for="NumbersOfCopies" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 30%">Update</button>
            <a asp-controller="Movie" asp-action="Index" class="btn btn-secondary" style="width:30%">Back to the List</a>
        </form>
       
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
   
}

